@model IEnumerable<Registration_project.Models.CarModel>

<select id="carmodel" name="carModel">

    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }

</select>
